<div class="login-container">
    <form [formGroup]="loginFG">
        <fieldset class="login-fieldset">
            <legend>Login SAS</legend>
            
            <div class="row">
                <mat-form-field class="col-12 custom-form-field">
                    <mat-label>Usuário</mat-label>
                    <input matInput  formControlName="username" required>
                    <mat-hint>*Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="col-12 custom-form-field">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'"  formControlName="password" required>
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon *ngIf="hidePassword">visibility_off</mat-icon>
                        <mat-icon *ngIf="!hidePassword">visibility</mat-icon>                    
                    </button>
                    <mat-hint>*Obrigatório</mat-hint>
                </mat-form-field>
            </div>
        </fieldset>
        
        <div class="row">
            <div class="col-12 login-button">
                <button type="submit" mat-raised-button color="accent" [disabled]="!loginFG.valid" (click)="onLogin()">
                    <mat-icon>login</mat-icon> 
                    Acessar
                </button>
            </div>

            <div class="col-12 login-connection">
                <section>
                    <mat-checkbox class="login-connection-check" labelPosition="before" formControlName="connection_flag">
                        Manter-me conectado
                    </mat-checkbox>
                </section>
            </div>    
        </div>
    </form>
</div>