<p>parametrizador-revisao works!</p>
<mat-card class="parametrizador-revisao">
    <h1>Detalhamento</h1>

    <div class="row parametrizador-revisao-parametro" style="margin: 16px 0;">
        <div>{{ parametrizador.parametro?.nome || "-" }}</div>
    </div>

    <div class="row" style="margin: 16px 0;">
        <div class="col-md-8 col-12">
            <div class="row">
                <div class="col-md-4 col-12 parametrizador-revisao-detalhes">
                    <label>POLÍTICA</label>
                    <span>{{ parametrizador.parametro?.politica?.nome || "-" }}</span>                    
                </div>

                <div class="col-md-4 col-12 parametrizador-revisao-detalhes">
                    <label>CLUSTER</label>
                    <span>{{ parametrizador.parametro?.cluster?.nome || "-" }}</span> 
                </div>

                <div class="col-md-4 col-12 parametrizador-revisao-detalhes">
                    <label>SEGMENTO</label>
                    <span>{{ parametrizador.parametro?.cluster?.segmento?.nome || "-" }}</span>
                </div>

                <div class="col-md-4 col-12 parametrizador-revisao-detalhes">
                    <label>TIPO DE VARIÁVEL</label>
                    <span>{{ parametrizador.parametro?.modo == "chave" ? "Chave" : "Global" }}</span>
                </div>

                <div class="col-md-8 col-12 parametrizador-revisao-detalhes">
                    <label>MODIFICADO POR</label>
                    <span>ARTHUR FERREIRA</span>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-12 parametrizador-revisao-dark">
            <div class="row">
                <div class="col-md-9 col-12 parametrizador-revisao-detalhes">
                    <label>DATA DA VIGÊNCIA</label>
                    <span>{{ getDataVigencia() }}</span>
                </div>

                <div class="col-md-3 col-12 parametrizador-revisao-detalhes">
                    <label>VERSÃO</label>
                    <span>1</span>
                </div>
            </div>
        </div>
    </div>
</mat-card>
