<div class="parametrizador-container container">
    <div class="row parametrizador-topnav">
        <div class="parametrizador-title">
            <menu-navigator></menu-navigator>
            <h1 *ngIf="!parametrizadorID">Cadastro de Parâmetro</h1>
            <h1 *ngIf="parametrizadorID">Edição de Parâmetro</h1>            
        </div>
        <div class="parametrizador-stepper">
            <mat-stepper linear #stepper labelPosition="bottom" [selectedIndex]="selectedIndex" (selectedIndexChange)="onStepperChange($event)">
                <mat-step [stepControl]="parametroStepperFG">
                    <ng-template matStepLabel>Parâmetro</ng-template>
                </mat-step>
                <mat-step [stepControl]="variaveisStepperFG">
                    <ng-template matStepLabel>Variáveis</ng-template>
                </mat-step>
                <mat-step [stepControl]="dadosStepperFG">
                    <ng-template matStepLabel>Dados</ng-template>
                </mat-step>
                <mat-step [stepControl]="revisaoStepperFG">
                    <ng-template matStepLabel>Revisão</ng-template>
                </mat-step>
            </mat-stepper>
        </div>
    </div>

    <div class="parametrizador-content">
        <app-parametrizador-dados #parametrizadorDados
            [ngClass]="{'d-block': selectedIndex == 2, 'd-none': selectedIndex != 2}">
        </app-parametrizador-dados>
        <app-parametrizador-revisao #parametrizadorRevisao
            [ngClass]="{'d-block': selectedIndex == 3, 'd-none': selectedIndex != 3}">
        </app-parametrizador-revisao>
    </div>

    <div class="row parametrizador-footer">
        <div class="offset-md-4 col-md-4 col-12">
            <button mat-stroked-button color="primary">CANCELAR</button>
        </div>

        <div class="col-md-4 col-12">
            <button mat-flat-button color="primary" [disabled]="!disabledNextButton()"
                (click)="onNextButton()">SALVAR E AVANÇAR</button>
        </div>
    </div>
</div>
