.parametrizador-variaveis-content {
    display: block;

    .parametrizador-variaveis-top {
        display: flex;

        .parametrizador-variaveis-add {
            padding: 16px;
            margin-left: auto;            
        }
    }

    .parametrizador-variaveis-table {
        
    }
}