.close-dialog {
    position: absolute;
    right: 0;
}

.cluster-form {
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;    

    .slide-toggle-group {
        display: flex;

        .slide-toggle-ativo {
            padding: 0 16px;
            margin-left: auto;
        }
    }

    .cluster-footer {
        margin-top: auto;

        div {
            padding-top: 8px;
            padding-bottom: 8px;

            button { width: 100%; }
        }
    }
}