.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 1001;

    .loader-container-spinner {
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        top: calc(50% - 50px);
    }
}