<div class="parametrizador-dados" *ngIf="parametro">
    <h1>Dados</h1>

    <mat-divider></mat-divider>

    <div class="parametrizador-dados-table" [formGroup]="dadosFG">
        <table formArrayName="dados">
            <thead>
              <tr><th *ngFor="let column of displayedColumns"> {{ getColumnName(column) }}</th></tr>
            </thead>
          
            <tbody>
              <tr *ngFor="let dado of dadosControl(); let i = index" [formGroupName]="i">
                <ng-container *ngFor="let column of displayedColumns">
                    <td *ngIf="column != 'dado-control-actions'">
                        <ng-container *ngIf="getColumnVariable(column)?.tipo == 'DECIMAL'">                            
                            <mat-form-field appearance="outline">
                                <input matInput required
                                    placeholder="{{ getColumnVariable(column)?.nome || '' }}"
                                    maxlength="{{ 1 + (getColumnVariable(column)?.tamanho || 0) + (getColumnVariable(column)?.qtd_casas_decimais || 0) }}" 
                                    [pattern]="getPattern(column)"
                                    formControlName="{{ column }}">
                                <mat-hint>
                                    <mat-icon matTooltipPosition="right" matTooltip="{{
                                        'Máximo de ' + (getColumnVariable(column)?.tamanho || 0) + ' número(s) inteiro(s) e ' +
                                        (getColumnVariable(column)?.qtd_casas_decimais || 0) + ' casa(s) ' +
                                        (getColumnVariable(column)?.qtd_casas_decimais || 0 > 1 ? 'decimais' : 'decimal')
                                    }}" style="position: absolute; left: 5px; top: 5px;">info</mat-icon>
                                </mat-hint>
                            </mat-form-field>
                        </ng-container>

                        <ng-container *ngIf="getColumnVariable(column)?.tipo == 'NUMERICO'">
                            <mat-form-field appearance="outline">
                                <input matInput required
                                    placeholder="{{ getColumnVariable(column)?.nome || '' }}"
                                    maxlength="{{ (getColumnVariable(column)?.tamanho || 0) }}" 
                                    [pattern]="getPattern(column)"
                                    formControlName="{{ column }}">
                                <mat-hint>
                                    <mat-icon matTooltipPosition="right" matTooltip="{{
                                        'Máximo de ' + (getColumnVariable(column)?.tamanho || 0) + ' número(s) inteiro(s)'
                                    }}" style="position: absolute; left: 5px; top: 5px;">info</mat-icon>
                                </mat-hint>
                            </mat-form-field>
                        </ng-container>

                        <ng-container *ngIf="getColumnVariable(column)?.tipo == 'LISTA'">
                            <mat-form-field>
                                <mat-label>{{ getColumnVariable(column)?.nome || '' }}</mat-label>
                                <mat-select formControlName="{{ column }}" multiple>
                                  @for (item of getListItems(column); track item) {
                                    <mat-option [value]="item" 
                                        [disabled]="dado?.value?.[column]?.length == getColumnVariable(column)?.tamanho && !dado?.value?.[column]?.includes(item)">
                                        {{ item.nome }}
                                    </mat-option>
                                  }
                                </mat-select>
                                <mat-hint>
                                    <mat-icon matTooltipPosition="right" matTooltip="{{
                                        'Máximo de ' + (getColumnVariable(column)?.tamanho || 0) + 
                                        (getColumnVariable(column)?.tamanho || 0 > 1 ? ' opções' : ' opção')
                                    }}" style="position: absolute; left: 5px; top: 5px;">info</mat-icon>
                                </mat-hint>
                            </mat-form-field>
                        </ng-container>

                        <ng-container *ngIf="getColumnVariable(column)?.tipo == 'TEXTO'">
                            <mat-form-field appearance="outline">
                                <input matInput required 
                                    placeholder="{{ getColumnVariable(column)?.nome || '' }}"
                                    maxlength="{{ getColumnVariable(column)?.tamanho || 0 }}"
                                    formControlName="{{ column }}">
                                <mat-hint>
                                    <mat-icon matTooltipPosition="right" matTooltip="{{
                                        'Máximo de ' + (getColumnVariable(column)?.tamanho || 0) + ' caractere(s)'
                                    }}" style="position: absolute; left: 5px; top: 5px;">info</mat-icon>
                                </mat-hint>
                            </mat-form-field>
                        </ng-container>
                    </td>

                    <td *ngIf="column == 'dado-control-actions'">
                        <div class="content-table-actions">
                            <button type="button" mat-icon-button matTooltip="Adicionar linha" (click)="onAddLine()">
                                <mat-icon>add_notes</mat-icon>
                            </button>
                            <button type="button" color="warn" mat-icon-button matTooltip="Excluir linha" 
                                [disabled]="getDados().length == 1" (click)="onDeleteLine(dado)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
              </tr>
            </tbody>
        </table>
    </div>
</div>