.variaveis-content {
    display: block;

    .variaveis-top {
        display: flex;

        .variaveis-add {
            padding: 16px;
            margin-left: auto;            
        }
    }

    .variaveis-upload {
        display: flex;
        padding: 16px;
        
        button {
            min-width: 200px;
            margin-left: auto;
        }
    }

    .variaveis-warning {
        padding: 15px;
        margin-top: auto;
        
        .warning-content {
            width: 100%;
            padding: 15px;
            display: flex;
            border: 2px solid rgb(255, 130, 50);            
            border-radius: 5px;
            background-color: rgb(255, 234, 212);

            .warning-icon { color: rgb(255, 130, 50); }

            .warning-text { margin-left: 15px; }
        }
    }

    .variaveis-error {
        padding: 15px;
        margin-top: auto;
        
        .warning-content {
            width: 100%;
            padding: 15px;
            display: flex;
            border: 2px solid #f1416c;            
            border-radius: 5px;
            background-color: #fff5f8;                                    

            .warning-icon { color: #f1416c; }

            .warning-text { margin-left: 15px; }
        }
    }

    .variaveis-table {
        
    }
}