/* You can add global styles to this file, and also import other style files */
@import 'bootstrap-4-grid/scss/grid.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-row-padding {
    padding: 8px 0;
}

.custom-form-field {
    width: 100%;
}

.table-container {
    .t-start { text-align: start !important; }    
    .t-center { text-align: center !important; }    
    .t-end { text-align: end !important; }

    .content-table-actions {
        display: flex;

        .icon-buttton {
            cursor: pointer;
        }
    }
}